# EditorConfig is awesome: http://EditorConfig.org
root = true

[*]
charset = utf-8
end_of_line = lf
indent_size = 2
indent_style = space
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
intent_size = 3
intent_style = tab

[*.{java,cs}]
indent_size = 2
continuation_indent_size = 4
max_line_length = 120

[*.{xml,html,cshtml}]
indent_size = 4

[*.yml]
indent_size = 2
indent_style = space
